.high-score-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

.high-score-table th,
.high-score-table td {
    border: 1px solid #ddd;
    padding: 10px 50px;
    font-size: 20px;
    text-align: left;
}

.high-score-table th {
    background-color: #353535;
    color: white;
}

.high-score-table tr:nth-child(even) {
    background-color: #3535357f;
}

.high-score-table tr:hover {
    background-color: #001a39;
}